@charset "utf-8";



* {

	text-decoration: none;

}



nav {

	position: fixed;

	width: 100%;

	z-index: 2;

	color: white;

}



nav:hover {

	

}



ul {

	

}



li {

	display: inline;

	font-family: "Source Sans Pro", sans-serif;

	font-size: 16px;

	font-weight: 400px;

	padding: 40px;

	

	

}



#logo {

	font-weight: 700;

	font-size: 23px;

	font-family: "Expletus Sans";

	position: relative;

	top: 3px;

}



body, html {

	margin: 0;

	padding: 0;

	

}



#bg {

	height: 100%;
	width: 100%;
	position: absolute; 
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
 	background-size: cover;
	background-blend-mode: color;

}

#content {
	background-color: whitesmoke;
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 100%;
	box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 100px 0 rgba(0, 0, 0, 0.19);
	z-index: -1;
}

@keyframes fadeInUp {

	

    from {

        transform: translate3d(0,40px,0)

    }



    to {

        transform: translate3d(0,0,0);

        opacity: 1

    }

}



@-webkit-keyframes fadeInUp {

    from {

        transform: translate3d(0,40px,0)

    }



    to {

        transform: translate3d(0,0,0);

        opacity: 1

    }

}



.animated {

    animation-duration: 1.5s;

    animation-fill-mode: both;

    -webkit-animation-duration: 1.5s;

    -webkit-animation-fill-mode: both;

}



.animatedFadeInUp {

    opacity: 0

}



.fadeInUp {

    opacity: 0;

    animation-name: fadeInUp;

    -webkit-animation-name: fadeInUp;

}



.container {
	display: flex;
	position: absolute;

	font-family: "Expletus Sans";

	top: 375px;

	left: 21%;

	font-size: 120px;

	font-weight: bolder;

	font-weight: 700;

	transform: translatey(0px);

	animation: float 3.5s ease-in-out infinite;

	letter-spacing: 12px;

	color: white;

	
}



.text {

	position: absolute;

	font-family: "Titillium Web";

	font-size: 36px;

	top: 512px;

	left: 25%;

	font-weight: 400;

	color: #FFFFFF;	

}



@keyframes float {

	0% {

		transform: translatey(0px) rotate(0.01deg);


	}

	50% {

		transform: translatey(-15px) rotate(0.01deg);

	}

	100% {

		transform: translatey(0px) rotate(0.01deg);

	}

}



 .prlgrm {

	position: relative;

	top: 518px;

	left: 23%;

	width: 3px; 

	height: 40px; 

	transform: skew(-20deg);

	background-color: #FF0000; 

}

.scroll {
	background-color: rgba(0,0,0, .23);
	position: fixed;
	width: 45px;
	height: 45px;
	top: 89%;
	left: 90%;
	border-radius: 50%;
	transition: 0.3s;
	
}

.scroll:hover {
	cursor: pointer;
}

.txt {
	position: fixed;
	font-weight: 400;
	font-family: "Titillium Web";
	font-size: 18px;
	letter-spacing: 5px;
	color: whitesmoke;
	top: 90%;
	left: 80%;
	z-index: 5;
	transition: 0.3s;
	
}

#arrw {
	opacity: 1;
	border: solid whitesmoke;
	width: 4px;
	height: 4px;
  	border-width: 0 3px 3px 0;
  	display: inline-block;
  	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	
	
}

#ctnr2 {
	position: absolute;
	top: 28%;
	left: 35%;
	transform: scale(1.2);
}

.scrolled {
	color: black;
	left: 81%;
}

.scrolled2 {
	background-color: rgba(0, 0, 0, 1);
	border-color: blue;
	transform: rotate(180deg);
}